<app-page-title>Register</app-page-title>

<div class="container margin-top">
  <app-card class="col-md-6">
    <form>
      <label>First Name</label>
      <input type="text">
      <label>Last Name</label>
      <input type="text">
      <label>Email Address</label>
      <input type="text">
      <label>Password</label>
      <input type="text">
      <label>Confirm Password</label>
      <input type="text">
      <button class="btn btn-primary btn-lg">Register</button>
    </form>
  </app-card>
  <app-card class="col-md-6">
    <p>Already have an account?</p>
    <a class="btn btn-primary" routerLink="/login">Login</a>
  </app-card>
</div>